
.bg-coin {
    position: relative;
}

.bg-coin img {
    width: 100%;
    height: 100%;
    left: auto;
}

@media (max-aspect-ratio: 100 / 100) {
    .bg-coin {
        width: 190px;
        height: 190px;
        margin-bottom: -44px;
        perspective: 1000px;
        transform-style: preserve-3d;
    }
}

.main-coin {
    position: relative;
    z-index: 1;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 400px;
}

@media (max-aspect-ratio: 100 / 100) {
    .main-coin {
        width: 120px;
        height: 120px;
    }
}

.main-coin > div {
    transform-style: preserve-3d;
    perspective: 400px;
    position: absolute;
    height: 100%;
    backface-visibility: hidden;
}

.gold-coin {
    position: relative;
    top: -70%;
}

.gold-coin img {
    width: 100%;
    height: 100%;
}

@media (max-aspect-ratio: 100 / 100) {
    .gold-coin {
        width: 160px;
        height: 160px;
        margin-bottom: -44px;
    }
}

.coin {
    position: relative;
    perspective: 1000px; /* Required for 3D effect */
    /* align-items: center; */
}

.main-coin {
    position: absolute;
    transform-style: preserve-3d; /* Enables 3D transformations */
    transition: transform 2s ease-in-out; /* Smooth animation */
    width: 200px;
    height: 200px;
    top: -1vh;
    left: -3%;
}

.coin-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hide the back when flipped */
    display: flex;
    align-items: center;
    justify-content: center;
}

.front { transform: translateZ(1px); }
.back { transform: rotateY(180deg); }


@media (max-aspect-ratio: 100/100) {
    .front img,
    .back img {
        /* width: 138%; */
        /* height: auto; */
        /* margin-top: -100%; */
        /* margin-left: 163%; */
        /* margin: auto; */
        /* display: block; */
        /* position: absolute; */
        width: 200px;
    }
}

.back img {
    /* position: absolute; */
    /* top: 30%; */
    width: 160px;
}